.search-btn-text{
    font-size: 9px;
    background-color: #274f56;
    color: white;
}
.user-name{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.line-separator{
    float: left;
    margin-top: 6px;
}
.header__right--navi{
    margin-top: 3px;
}
.header__right--navi ul li{
    float: left;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
}
.header__right--navi ul li a:hover{
    color: white;
}

.bottom-header{
    background-color: #f5f5f5;
    font-weight: bold;
}   
/* .bottom-header__left{
    width: 1000px;
} */

.bottom-header__left ul li{
    float: left;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
    font-size: .9em;
}
.bottom-header__left ul li:first-child{
    float: left;
    line-height: 40px;
    padding: 0 12px 0 2px;
}
.bottom-header__left ul li:hover{
    background-color: #7dd9e8;
    color: white;
}
.bottom-header__right ul li{
    line-height: 40px;
    float: left;
    margin-right:16px ;
    font-size: 14px;
    cursor: pointer;
}

.bottom-header__right ul li span:hover,
.bottom-header__right ul li:active{
    color: black;
}
.bottom-header__right ul li .first{
    padding-left: 14px;
    color: #aaaaaa;
}
.bottom-header__right ul li:first-child:active .first{
    background: url("../image/icons/topic-icon.png") no-repeat;
    background-position: 0% 50%;
    cursor: pointer;
}
.bottom-header__right ul li:first-child:hover .first{
    background: url("../image/icons/topic-icon.png") no-repeat;
    background-position: 0% 50%;
    color: black;
    cursor: pointer;
}
.bottom-header__right ul li:first-child .first{
    background: url("../image/icons/topic-inactive-icon.png") no-repeat;
    background-position: 0% 50%;
}
/* SIDEBAR */
.sidebar-title{
    line-height: 36px;
    background-color: #2fc1d9;
    padding: 0 13px;
    color: white;
    font-size: .9em;
}
.sidebar-content ul li{
    background: url("../image/icons/inactive-download-icon.png") no-repeat;
    background-position: 90% 50%;
    cursor: pointer;
    font-size: .73em;
    padding: 12px 12px;
    background-color: #f5f5f5;
}
.sidebar-content ul li:hover,
.sidebar-content ul li:active{
    background: url("../image/icons/active-download-icon.png") no-repeat;
    background-color: white;

    background-position: 90% 50%;
}

.sidebar-second-content ul li{
    background: url("../image/icons/inactive-ham-icon.png") no-repeat;
    background-position: 90% 50%;
    cursor: pointer;
    font-size: 12px;
    padding: 12px 12px;
    background-color: #f5f5f5;
}

.sidebar-second-content ul li:hover,
.sidebar-second-content ul li:active{
    background: url("../image/icons/active-ham-icon.png") no-repeat;
    background-color: white;

    background-position: 90% 50%;
}

/* FOR MID CONTENT */
.entries__title{
    font-size: 28px;
    font-weight: bold;
    color: #383838;
    text-align: center;
}
.left__tab__top{
    /* background: url("../image/corners/left-tab.png") no-repeat; */
    background-color: #f5f5f5;
    text-align: center;
}
.right__tab__top{
    /* background: url("../image/corners/right-tab.png") no-repeat; */
    background-color: #f5f5f5;
    text-align: center;
}
.left__tab__bottom{
    width: 100%;
    background-color: #f5f5f5;
}
.left__tab__bottom ul{
    width: 251px;
    background-color: #f5f5f5;
    margin: 0 auto;
}
.left__tab__bottom ul li{
    width: 114px;
    background: url("../image/corners/inactive-tab.png") no-repeat;
    text-align: center;
    float: left;
    margin: 0 5px;
    font-size: 12px;
    height: 28px;
}

.left__tab__bottom ul li :hover
{
    background: url("../image/corners/active-tab.png") no-repeat;
    width: 114px;
    text-align: center;
    float: left;
    margin: 0 0px;
    color: white;
}
.left__tab__bottom ul li.tab-active{
    background: url("../image/corners/active-tab.png") no-repeat;
}
.user-container ul li{
    padding: 10px 0px;
    border-bottom:1px solid #d8d8d8 ;
}

/* USER DETAILS */

.topic{
    font-size: .8rem;
}
.author{
    font-size: .6rem;
}
.author a{
    color: #7dd9e8;
}
.entry{
    color: #7dd9e8;
    font-size: 00.85em;
}
.border{
    margin: 0 5px;
    border-right: 2px solid #888888;
}
.date{
    font-size: .6rem;
    color: #616161;
}
.subscribe{
    font-size: .6rem;
    color: #7c9531;
}
.from-topic{
    color: #616161;
    font-size: .6em;
}
.entry-red{
    font-size: 0.85em;
    color: #e06c53;
}
/* USER DETAILS END*/

/* FOR MID CONTENT END */

/* FOR RIGHT SIDEBAR  */
.right-sidebar-content ul li{
    cursor: pointer;
    font-size: .73em;
    padding: 12px 12px;
    background-color: #f5f5f5;
}

.right-sidebar-content ul li:hover,
.right-sidebar-content ul li:active{
    background-color: white;
}
.list-item{
    width: 80%;
}
/* FOR RIGTH SIDEBAR END  */
.footer__container{
    font-size: 1em;
}
@media screen and (min-width: 760px){
    .entries__title{
        text-align: left;
    }
    .left__tab__top{
        background: url("../image/corners/left-tab.png") no-repeat;
        /* background-color: #f5f5f5; */
        text-align: center;
    }
    .right__tab__top{
        background: url("../image/corners/right-tab.png") no-repeat;
        /* background-color: #f5f5f5; */
        text-align: center;
    }
    .sidebar-title{
        text-align: center;
    }
    .right-sidebar-content{
        text-align: center;
    }
    .entry{
        font-size: 0.85em;
    }
    .topic{
        font-size: .85em;
    }
    .author{
        font-size: .65em;
    }
    .author a{
        color: #7dd9e8;
    }
    .date{
        font-size: .65em;
        color: #616161;
    }
    .subscribe{
        font-size: .65em;
    }
    .from-topic{
        font-size: .66em;
    }
    .footer__container{
        font-size: .8em;
    }
}

@media screen and (min-width: 1025px){
    .bottom-header__right{
        float: right;
    }
    .bottom-header__left {
        /* width: 510px; */
        float: left;
        overflow: hidden;
    }
    .bottom-header__right ul li{
        margin-left: 16px;
        margin-right: 0px;
    }
    .sidebar-title{
        text-align: left;
    }
    .right-sidebar-content{
        text-align: left;
    }
}